<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.favcircles.circles</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.favcircles.circles</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>circles-deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>circles</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>apple-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.favcircles.circles.signin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.778088177220-7ddtorl0um8te3s5dmv14fs4d2kirukt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb971348948407685</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>linkedin-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.favcircles.circles</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>971348948407685</string>
	<key>FacebookClientToken</key>
	<string>dac11cb53951c6c7d44f4ab3351451f6</string>
	<key>FacebookDisplayName</key>
	<string>Circles</string>
	<key>LinkedInClientID</key>
	<string>86rx0d8w7xn8rq</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CLIENT_ID</key>
	<string>778088177220-7ddtorl0um8te3s5dmv14fs4d2kirukt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778088177220-7ddtorl0um8te3s5dmv14fs4d2kirukt</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>GMSApiKey</key>
	<string>AIzaSyAwcmtCmYmq5dbsBsYA1T3Fx949VeK0Cv8</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
</dict>
</plist>